In [9]:
import os
os.chdir("/Users/ldoyl/OneDrive/Desktop/my_projects/python_practice/IBMCoursera")
new_path = os.getcwd()
print(new_path)
files = os.listdir()
print(files)

C:\Users\ldoyl\OneDrive\Desktop\my_projects\python_practice\IBMCoursera
[]

## IBM Python for Data Science, AI and Development (Coursera)
The following code is provided in a lab in week 4 to generate a file of members(20 rows) and another file of ex-members(3 rows) of a team with columns Membership Number, Date and Active(yes or no)

In [10]:
from random import randint as rnd

memReg = "members.txt"
exReg = "inactive.txt"
fee = ("yes","no")

def genfiles(current, old):
    with open(current, "w+") as writefile:
        writefile.write("Membership No Date Joined Active \n")
        data = "{:^13} {:<11} {:<6}\n" #I don't know what this lines does)
        
        for rowno in range(20):
            date = str(rnd(2015,2020)) + "-" + str(rnd(1,12)) + "-" + str(rnd(1,25))
            writefile.write(data.format(rnd(10000, 99999), date, fee[rnd(0,1)]))
       
    
    with open(old, "w+") as writefile:
        writefile.write("Membership No Date Joined Active \n")
        data = "{:^13} {:<11} {:<6}\n"
        
        for rowno in range(3):
            date = str(rnd(2015,2020)) + "-" + str(rnd(1,12)) + "-" + str(rnd(1,25))
            writefile.write(data.format(rnd(10000, 99999), date, fee[1]))
        
genfiles(memReg, exReg)

## Solution
The below code is written by me. It takes the registered members file memReg, searches for those members with "no" in the "active" column, adds them to the inactive members list and creates a list of active members only. It then saves the inctive list to a file new_inactive_members and the active list to a file new_active_members

In [11]:
with open (memReg, "r+") as currentMem:
    header = currentMem.readline()
    file_content = currentMem.readlines()

inactive = []
active = []
i = 0

# finds all the members who are inactive and adds them to a list "inactive"
for entry in file_content:
    member = entry.split() ##member is a list of 3 elements [number, date, active?]
    if (i < len(file_content) and (member[2] == "no")):
        inactive.append(member) ##inactive is a list of lists  
    else:
        active.append(member)
        
# add inactive to the exReg file
print("List of inactive members:", inactive)
print("Number of inactive members:", len(inactive))
print("List of active members:", active)
print("Number of active members:", len(active))

## I still need to figure out how to change active and inactive into a table format persumably I can reuse code from cell above
with open("new_active_members.txt", "w") as file_3:
    file_3.write(str(active))
    
with open("new_inactive_members.txt", "w") as file_4:
    file_4.write(str(inactive))

List of inactive members: [['47909', '2017-3-2', 'no'], ['29905', '2017-10-7', 'no'], ['33284', '2016-6-5', 'no'], ['63468', '2019-4-4', 'no'], ['92569', '2018-6-5', 'no'], ['56918', '2016-11-15', 'no'], ['33036', '2017-3-7', 'no'], ['97180', '2018-2-16', 'no'], ['28657', '2018-9-23', 'no']]
Number of inactive members: 9
List of active members: [['56979', '2015-12-11', 'yes'], ['56354', '2016-3-20', 'yes'], ['78578', '2016-1-25', 'yes'], ['95539', '2017-10-15', 'yes'], ['39760', '2015-3-17', 'yes'], ['77251', '2015-3-23', 'yes'], ['14770', '2019-5-11', 'yes'], ['19437', '2017-10-1', 'yes'], ['85794', '2020-6-19', 'yes'], ['28832', '2020-10-24', 'yes'], ['27122', '2015-4-23', 'yes']]
Number of active members: 11

## Playing with this data and Pandas

In [20]:
import pandas as pd
file_total = []
for entry in file_content:
    file = entry.split()
    file_total.append(file)
file_df = pd.DataFrame(file_total)
file_df.head()

       0           1    2
0  47909    2017-3-2   no
1  29905   2017-10-7   no
2  56979  2015-12-11  yes
3  56354   2016-3-20  yes
4  33284    2016-6-5   no

In [21]:
file_df.shape

(20, 3)

In [22]:
file_df[2].value_counts()

yes    11
no      9
Name: 2, dtype: int64

In [23]:
file_df.columns = ["Membership No", "Date Joined", "Active"]
file_df.head()

  Membership No Date Joined Active
0         47909    2017-3-2     no
1         29905   2017-10-7     no
2         56979  2015-12-11    yes
3         56354   2016-3-20    yes
4         33284    2016-6-5     no